<p>Metas Profesionales y Personales !</p>
<div align="center"><h1 style="background-color:Tomato;">Metas Propuestas</h1></div>
<div align="center"><img src="assets/imagenes/img3.gif" width="400" height="200"></div>
<h1>Metas a corto Plazo</h1>
      <p>Primeramente si Dios me lo permite</p>
      <p>1. Lograr graduarme de Ingieneria </p>
      <p >2. Encontrar empleo</p>
      <h1>Metas a largo Plazo</h1>
      <p>1. Lograr tener mi propia vivienda</p>
      <p>2. Poder encontrar trabajo en mi especializacion</p>
      <div align="center"><img src="assets/imagenes/lufy.gif" width="100" height=""></div>
