<body style="background-color:#ACFBF3;">
<p>Hacerca de Mi !!</p>
<div align="center"><h1 style="background-color:Violet;">Area Personal</h1></div>
<img src="assets/imagenes/img6.webp" width="200" height="150">
<p >Hola Feliz y Bendecido Dia!!!</p>
<p>Mi nombre es: Damaris Alejandra Martinez Rodriguez</p>
<p>Edad: 22 años de edad</p>
<p>Genero: F</p>
<p>Actualmente pasante en la universidad Metropolitana de Honduras, en el area de Ingieneria en Informatica, me considero una persona comun y que le gusta aprender</p>
<img src="assets/imagenes/img.gif" width="150" height="150"></body>
